@charset "utf-8";body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;font-family:proxima-nova,"Hiragino Sans GB","Microsoft YaHei","Wenquanyi Micro Hei","WenQuanYi Micro Hei Mono","WenQuanYi Zen Hei","WenQuanYi Zen Hei","Apple LiGothic Medium",SimHei,"ST Heiti","WenQuanYi Zen Hei Sharp";}
fieldset,img{border:0;vertical-align:top}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
html,body{background:#f5f5f5;font-size:12px;color:#555;}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
input[type=submit],input[type=button]{border:0 none;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}
input,textarea,select{*font-size:100%}
legend{color:#000}
/**common**/
html,body{background:#f5f5f5;font-size:12px;color:#555;}
a{text-decoration:none;color:#767676}
a:hover{text-decoration:none;color:#ec6b2f;}
a:focus,*:focus{outline:none;}
a:focus,*:focus{outline:none;}
.clearfix:before,.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;overflow:hidden;}
.clearfix{zoom:1;}
.clear,.c,.fn-clear{clear:both;display:block;font-size:0;height:0;line-height:0;overflow:hidden;+zoom:1;}
.hide{display:none;}
.block{display:block;}
/*.fl,.fr{display:inline;}*/
.fl{float:left;}
.fr{float:right;}
ul.floatLi{zoom:1;}
ul.floatLi:after{clear:both;content:'.';display:block;width:0;height:0;visibility:hidden;}
ul.floatLi li{float:left;display:inline;position:relative;}
* html,* html body{background-image:url(about:blank);background-attachment:fixed}
img{border:none;}
.f_s_n{font-style:normal;}
.fn-clear:before,.fn-clear:after{clear:both;content:".";font-size:0;display:block;height:0;overflow:hidden;visibility:hidden}
.bg_white{background:#fff;}
.f_0{font-size:0px;}
.f_36{font-size:36px;}
.f_35{font-size:35px;}
.f_34{font-size:34px;}
.f_30{font-size:30px;}
.f_28{font-size:28px;}
.f_26{font-size:26px;}
.f_24{font-size:24px;}
.f_22{font-size:22px;}
.f_21{font-size:21px;}
.f_20{font-size:20px;}
.f_19{font-size:19px;}
.f_18{font-size:18px;}
.f_17{font-size:17px;}
.f_16{font-size:16px;}
.f_15{font-size:15px;}
.f_14{font-size:14px;}
.f_13{font-size:13px;}
.f_12{font-size:12px;}
.f_b{font-weight:bold;}
.f_normal{font-weight:normal;}
.f_b_true{font-weight:bold;}
.f_number{font-family:Arial;}
.f_money_sign{font-family:arial;}
.t_l{text-align:left;}
.t_c{text-align:center;}
.t_r{text-align:right;}
.i_w220{_width:200px;}
.i_w200{_width:200px;}
.i_w123{_width:123px;}
.i_w107{_width:56px;}
.i_w89{_width:89px;}
.i_w69{_width:69px;}
.cr_or{color:#ec6015;}
.cr_red{color:#ff1a20;}
.cr_blue{color:#0f5cac;}
.cr_red2{color:#c62e2c;}
.cr_gree{color:#1f9804;}
.cr_yellow{color:#ab9703;}
.cr_purple{color:#a22cda;}
.cr_333{color:#333;}
.cr_hui{color:#666;}
.cr_999{color:#999;}
.cr_888{color:#888;}
.posRel{position:relative;}
.posAbs{position:absolute;}
.posFix{position:fixed;}
.b_r_hui{border-right:1px solid #dedede;}
.b_b_hui{border-bottom:1px solid #dedede;}
.b_t_hui{border-top:1px solid #dedede;}
.cursorPointer{cursor:pointer;}
.textUnderline{text-decoration:underline;}
a.cr_or:hover{color:#ff5a00;}
a.cr_red2:hover{color:#c70300;}
a.cr_gree:hover{color:#2cd606;}
a.cr_yellow:hover{color:#d2b903;}
a.cr_purple:hover{color:#9402d9;}
a.cr:hover{color:#005ab2;}
.p_5{padding-left:5% !important;}
.w400{width:400px;}
.w360{width:360px;}
.w290{width:290px;}
.w100{width:100px;}
.w106{width:106px;}
.w176{width:176px;}
.w78{width:78px;}
.w130{width:130px;}
.w202{width:202px;}
.w235{width:235px;}
.w250{width:250px;}
.w245{width:245px;}
.w226{width:218px;}
.w120{width:120px;}
.w123{width:123px;}
.w128{width:128px;}
.w157{width:157px;}
.w141{width:141px;_width:140px;}
.w208{width:208px;_width:213px;}
.w180{width:180px;}
.w185{width:185px;}
.w145{width:145px;}
.w80{width:80px;}
.w159{width:159px;}
.w50{width:50px;}
.w189{width:189px;}
.w118{width:118px;}
.w160{width:160px;}
.w220{width:220px;}
.w97{width:97px;}
.w90{width:90px;}
.w149{width:109px;}
.w150{width:150px;}
.w64{width:64px;}
.w105{width:105px;}
.w148{width:148px;}
.w110{width:110px;}
.w65{width:65px;}
.w129{width:129px;}
.w500{width:500px;}
.w600{width:600px;}
.w380{width:380px;}
.w430{width:430px;}
.w470{width:470px;}
.w300{width:300px;}
.w340{width:340px;}
.pointer{cursor:pointer;}
.b_hui{border:1px solid #C9C9C9;}
.b_hui_l{border-left:1px solid #C9C9C9;}
.b_hui_r{border-right:1px solid #C9C9C9;}
.b_hui_t{border-top:1px solid #C9C9C9;}
.b_hui_b{border-bottom:1px solid #C9C9C9;}
.b_hui_b_2{border-bottom:1px solid #ececec;}
.b_hui_r_2{border-right:1px solid #ebeae6;}
.p_l1{padding-left:1px;}
.p_l2{padding-left:2px;}
.p_l3{padding-left:3px;}
.p_l4{padding-left:4px;}
.p_l5{padding-left:5px;}
.p_l6{padding-left:6px;}
.p_l7{padding-left:7px;}
.p_l8{padding-left:8px;}
.p_l9{padding-left:9px;}
.p_l15{padding-left:15px;}
.p_l10{padding-left:10px;}
.p_l20{padding-left:20px;}
.p_l40{padding-left:40px;}
.p_l50{padding-left:50px;}
.p_t1{padding-top:1px;}
.p_t2{padding-top:2px;}
.p_t3{padding-top:3px;}
.p_t4{padding-top:4px;}
.p_t5{padding-top:5px;}
.p_t6{padding-top:6px;}
.p_t7{padding-top:7px;}
.p_t8{padding-top:8px;}
.p_t9{padding-top:9px;}
.p_t10{padding-top:10px;}
.p_t15{padding-top:15px;}
.p_t20{padding-top:20px;}
.p_t25{padding-top:25px;}
.p_r1{padding-right:1px;}
.p_r2{padding-right:2px;}
.p_r3{padding-right:3px;}
.p_r4{padding-right:4px;}
.p_r5{padding-right:5px;}
.p_r17{padding-right:17px;}
.p_r10{padding-right:10px;}
.p_r20{padding-right:20px;}
.p_r30{padding-right:30px;}
.p_r40{padding-right:40px;}
.p_b5{padding-bottom:5px;}
.p_b10{padding-bottom:10px;}
.p_b15{padding-bottom:15px;}
.p_b20{padding-bottom:20px;}
.p_10{padding:10px;}
.m_l20{margin-left:20px;}
.m_r20{margin-right:20px;}
.m_r50{margin-right:50px;}
.m_r30{margin-right:30px;}
.m_r40{margin-right:40px;}
.m_t30{margin-top:30px;}
.m_t40{margin-top:40px;}
.m_t10{margin-top:10px;}
.m_t15{margin-top:15px;}
.m_t20{margin-top:20px;}
.m_b8{margin-bottom:10px;}
.m_b10{margin-bottom:10px;}
.m_b15{margin-bottom:15px;}
.underline{text-decoration:underline;}
.block{display:block;}
.hide{display:none;}
.blue{color:#276eb4;}
.red{color:red;}
.green{color:#5b8028;}
.orange{color:#F56300;}
.colorBlue{color:#0061a4;}
.w404{width:404px;}
.w470{width:470px;}
.w676{width:676px;}
