<link rel="stylesheet" type="text/css" href="stylesheets/base.css">
<link rel="stylesheet" type="text/css" href="stylesheets/common.css">
{{> common/top}}

<div class="bankBanner">
	<img src="/images/banner.png">
</div>	




<!-- <h1>Demo by {{author}}</h1>

<p>{{author}}: welcome to homepage, I'm handsome!</p>

<div>
	页面路径：static/views/index.hbs
</div> -->

{{> common/footer}}
