<link rel="stylesheet" type="text/css" href="stylesheets/footer.css">
<div id="footer">
    <div class="footer_top">
        <div class="page_block_content">
            <div class="footer_company">
                <p class="footer_title">我们的分公司</p>
                <ul>
                    <li><a target="_blank" rel="nofollow" href="http://www.newunion.sg">新加坡<br><img src="/images/logo/logo_singapore.png"/></a></li>
                    <li><a target="_blank" rel="nofollow" href="http://www.newunion.com.kh">柬埔寨<br><img src="/images/logo/logo_cambodia.png"/></a></li>
                    <li><a target="_blank" rel="nofollow" href="http://www.newunion.tw">台中<br><img src="/images/logo/logo_taizhong.png"/></a></li>
                </ul>
            </div>
            <div class="footer_nav">
                <p class="footer_title">关于我们</p>
                <ul class="floatLi">
                    <li><a href="abouts/team.html">团队介绍</a></li>
                    <li><a href="copartner/copartner.html">合作伙伴</a></li>
                    <li><a href="getWebStatistics.html" class="hide">实时财务</a></li>
                    <li><a href="map.html">网站地图</a></li>
                    <li><a href="security/fengkong.html">风控保障</a></li>
                    <li><a href="abouts/cost.html">费用说明</a></li>
                    <li><a href="initNews.html">新闻中心</a></li>
                    <li><a href="security/safe.html">安全保障</a></li>
                    <li><a href="abouts/contact.html">联系我们</a></li>
                </ul>
            </div>
            <div class="footer_app">
                <p class="footer_title">移动端</p>
                <ul class="floatLi">
                    <li class="t_c">
                        <a rel="nofollow" href="javascript:;"><img src="images/code_subscription.jpg" />
                            <br/>微信订阅号</a>
                    </li>
                </ul>
            </div>
            <div class="footer_contact">
                <p class="footer_title">联系我们</p>
                <ul>
                    <li>全国服务热线</li>
                    <li class="footer_phone" style="font-size:20px;">400-996-8989</li>
                    <li>外呼专线</li>
                    <li class="footer_phone" style="font-size:20px;">010-87411468</li>
                    <li>周一至周日 9:00-20:00</li>
                </ul>
                <ul id="footer_link_contact">
                    <li><span class="iconScroll"><a rel="nofollow" title="微信" href="javascript:;" class="footer_link_fistlink_wx"></a></span>
                        <ul>
                            <li class="footer_link_fistlink_c"><img style="width:100%; height:100%" src="images/code_subscription.jpg" /></li>
                            <li class="footer_link_fistlink_icon"><span></span></li>
                        </ul>
                        <ul>
                            <li>
                                <span class="iconScroll"><a rel="nofollow" title="客服QQ" target="_blank" href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&amp;key=XzkzODAxNDAwNF8xNDE5NjlfNDAwODIyMjEzNl8yXw" class="footer_link_fistlink_qq"></a></span>
                            </li>
                            <li>
                                <span class="iconScroll"><a rel="nofollow" title="新浪微博" href="http://weibo.com/newunion" target="_blank" class="footer_link_fistlink_wb"></a></span></li>
                            <li>
                                <span class="iconScroll"><a rel="nofollow" title="收益计算器" target="_blank" href="financetool.html" class="footer_link_fistlink_tool"></a></span>
                            </li>
                        </ul>
            </div>
        </div>
    </div>
    <div class="page_block_content">
        <div class="footer_link">
            <div class="footer_link_nav">
                <p class="Flink">
                    <span>友情链接</span> <em>|</em>
                    <a href="http://www.newunion.cn/" title="P2P理财" target="_blank">P2P理财</a>
                    <a href="http://www.newunion.cn" title="投资理财" target="_blank">投资理财</a>
                    <a href="http://www.rongdaitong.cn" title="挂牌上市" target="_blank">挂牌上市</a>
                    <a href="http://www.huangjinzhijia.com/" title="黄金投资" target="_blank">黄金投资</a>
                    <a href="http://www.gsscha.com" title="个人所得税" target="_blank">个人所得税</a>
                    <a href="http://www.wangdaijiamen.com/" title="网贷家门" target="_blank">网贷家门</a>
                    <a href="http://www.wangdaiabc.cn/" title="网贷ABC" target="_blank">网贷ABC</a>
                    <a href="http://www.cnbzol.com/" title="巴中在线" target="_blank">巴中在线</a>
                    <a href="http://www.wangdaibuluo.com/" title="网贷部落" target="_blank">网贷部落</a>
                    <a href="http://www.yinbaohua.cn/" title="殷保华" target="_blank">殷保华</a>
                    <a href="https://www.okcoin.cn/" title="比特币" target="_blank">比特币</a>
                    <a href="http://www.newunion.cn/" title="互联网金融" target="_blank">互联网金融</a>
                    <a href="http://www.tou18.cn/ " title="今日股市行情" target="_blank">今日股市行情</a>
                    <a href="http://www.newunion.cn/" title="网络理财" target="_blank">网络理财</a>
                    <a href="http://www.88gs.com/" title="股票软件下载" target="_blank">股票软件下载</a>
                    <a href="https://www.newunion.cn/" title="投资理财" target="_blank">投资理财</a>
                    <a href="http://www.cu168.com" title="今日铜价" target="_blank">今日铜价</a>
                    <a href="http://www.lqz.cn/" title="股市直播" target="_blank">股市直播</a>
                    <a href="http://www.gangu.com/" title="南京文交所" target="_blank">南京文交所</a>
                    <a href="https://www.newunion.cn/" title="新联在线" target="_blank">新联在线</a>
                    <a href="http://www.baywatch.cn/jingjilunwen/" title="经济论文" target="_blank">经济论文</a>
                    <a href="http://www.p2p110.com" title="网贷门户" rel="nofollow" target="_blank">网贷门户</a>
                    <a href="http://www.168chaogu.com/" title="股票学习网" target="_blank">股票学习网</a>
                    <a href="http://www.xhlqw.com/" title="现货沥青" target="_blank">现货沥青</a>
                    <a href="http://www.newunion.cn/initNews.html" title="投资新闻" target="_blank">投资新闻</a>
                    <a href="http://www.newunion.cn/initNews-4.html" title="理财资讯" target="_blank">理财资讯</a>
                </p>
                <p>ADD : 广州市天河区珠江东路32号利通广场1304&nbsp;&nbsp;&nbsp;&nbsp;T&nbsp;:&nbsp;020-38260800&nbsp;&nbsp;&nbsp;&nbsp;E&nbsp;:&nbsp;<a href="mailto:admin@newunion.cn">admin@newunion.cn</a></p>
                <p>© 2017 新联在线 All rights reserved<span>|</span>广东新佳联投资管理有限公司<span>|</span>粤ICP备13042346号 </p>
            </div>
        </div>
        <div class="c"></div>
        <div class="t_c foot_copy_link_a">
            <a rel="nofollow" href="http://netadreg.gzaic.gov.cn/ntmm/WebSear/WebLogoPub.aspx?logo=329a4f9242fd4705a8c70952365adda4" target="_blank"><img border="0" src="images/hongdun.png" /></a>
            <a rel="nofollow" href="https://trustsealinfo.verisign.com/splash?form_file=fdf/splash.fdf&dn=www.newunion.cn&lang=zh_cn" target="_blank"><img border="0" src="images/webscan_norton.png" /></a>
            <!--可信网站图片LOGO安装开始-->
            <a rel="nofollow" href="https://ss.knet.cn/verifyseal.dll?sn=e14033144010047651ibm0000000&ct=df&a=1&pa=000000" target="_blank"><img border="0" src="images/knet.png" /></a>
            <!--可信网站图片LOGO安装结束-->
        </div>
        <div class="c"></div>
        <p style="color:#888;" class="footer_link_nav">投资有风险，理财需谨慎</p>
    </div>
</div>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?c08966cbebe5f109d455c45a49a8156c";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<!-- 99click -->
<script language="JavaScript" src="${basePath3}js/o_code.js"></script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/961709631/?value=0&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>
<script type="text/javascript" src="javascripts/jquery-1.10.2.js"></script>



