<link rel="stylesheet" type="text/css" href="stylesheets/top.css">
<div class="right_qq"> 
    <ul>
        <li>
            <span class="right_qq_on"><a class="right_qq_zx" rel="nofollow" title="客服QQ" href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&amp;key=XzkzODAxNDAwNF8xNDE5NjlfNDAwODIyMjEzNl8yXw" target="_blank"></a></span>
            <span class="right_qq_on right_qq_hid" style="border-bottom:1px solid #95cfff;"><a class="right_qq_gf" rel="nofollow" title="官方咨询群" target="_blank" href="http://jq.qq.com/?_wv=1027&k=TS5etu"></a></span>
        </li>
        <li>
            <span class="right_qq_on"><a rel="nofollow" class="right_qq_wx" onclick="return false" title="官方微信"></a></span><p class="right_qq_wx_pic right_qq_hid"><img src="images/code_subscription.jpg"/><span>微信官方订阅号</span></p>
        </li>
        <li>
            <span class="right_qq_on" style="border-bottom:1px solid #95cfff;"><a rel="nofollow" class="right_qq_jsq" target="_blank" href="financetool.html" title="收益计算器"></a></span>
        </li>
        <li class="goTop" style="margin-top:10px;"><span class="right_qq_on" style="border-bottom:1px solid #95cfff;"><a rel="nofollow" id="goToTop" class="goTop" href="javascript:;" onclick="return false" title="返回顶部"></a></span></li>
    </ul>    
</div>
<div class="header_tip">
    <div class="page_block_content page_block_content1232"><a href="openCardInit.do">尊敬的用户您好，您还未完善存管信息，点击存管完善信息</a></div>
</div> 
<div class="header_top"> 
    <div class="header_top page_block_content page_block_content1232">
        <div class="header_top_left">
            <div class="fl">
                <div class="header_top_line">咨询热线：4009968989</div>
            </div>
            <div class="header_top_link fl"> 
                <ul id="header_top_link"> 
                    <li class="header_top_link_qq">
                        <span class="header_top_link_on">
                            <a rel="nofollow" id="qq_line_btn" title="客服QQ" target="_blank" href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&amp;key=XzkzODAxNDAwNF8xNDE5NjlfNDAwODIyMjEzNl8yXw"></a> 
                        </span>
                        </li> 
                    <li class="header_top_link_xl">
                        <span class="header_top_link_on">
                            <a rel="nofollow" id="weixin_line_btn" title="微信" href="javascript:;"></a>
                        </span>
                        <ul style="visibility: hidden;">
                            <li class="menu_seconud_icon"><span></span></li> 
                            <li  class="user_servie_weixin_ph">
                                <img src="images/welcome_code_all.jpg?20160510" title="扫一扫关注新联在线微信" />
                            </li>
                        </ul>    
                    </li> 
                    <li class="header_top_link_wx"><span class="header_top_link_on"><a rel="nofollow" title="新浪微博" href="http://weibo.com/newunion" target="_blank"></a></span></li> 
                </ul> 
            </div>
            <div id="ie6UpgradeNote" class="fl red p_l10 hide p_r10">
                您正在使用IE6.0内核浏览器，为保障账户安全及页面效果，建议您<a rel="nofollow" href="http://windows.microsoft.com/zh-CN/internet-explorer/download-ie" class="blue" target="_blank">升级IE</a>
            </div>
            <div class="c"></div>
        </div>
        <div class="header_top_right"  style="overflow:hidden;height:30px;">
            <ul>
                <li class="list_item">
                    <a target="_blank" href="initBrandsDes.html">品牌活动</a>
                </li>
                <li class="list_item"> |</li>
                <li class="list_item">
                    <a href="initActivityDes.html" target="_top">线上活动</a>
                </li>
                <li class="list_item"> |</li>
                <li class="list_item">
                    <a href="help/help.html">帮助中心</a>
                </li>
                <li class="list_item"> |</li>
                <s:if test="#session.user == null">
                    <li class="list_item">
                        <a target="_top" rel="nofollow"  href="login.html">登录</a>
                    </li>
                    <li class="list_item"> |</li>
                    <li class="list_item">
                        <a  target="_top" rel="nofollow"  class="cr_or"  href="reg.html">注册</a>
                    </li>
                </s:if>
                <s:else>
                    <li class="list_item">
                        <span>
                            <a href="home.html" class="user_link" target="_top" title="${user.userName }" style="color:#fff;">
                                <shove:sub size="7" value="#session.user.userName" suffix="..."/>
                            </a>
                        </span>
                    </li>
                    <li class="list_item"> |</li> 
                    <li class="list_item" title="站内信">                      
                        <a class="top_message" style="padding:0 15px 0 18px; margin-left:10px" target="_top" href="mailNoticeInit.do">
                            <s:if test="#session.noread== 0 ">
                                &nbsp;
                            </s:if>
                            <s:else>
                                <span class="mail_noread">${noread}</span>
                            </s:else>
                        </a>                        
                    </li>
                    <li class="list_item"> |</li>
                    <li class="list_item">
                        <a rel="nofollow" target="_top" href="logout.do">安全退出</a>
                    </li>
                </s:else>
                <li class="list_item" title=">进入普通版">                       
                    <a  style="padding:8px 18px 7px 18px;margin-left:10px;background:#f77e1d;" target="_top" href="https://www.newunion.cn/">进入普通版</a>                      
                </li>
            </ul>
        </div> 
    </div> 
</div> 
<div class="header page_block"> 
    <div class="page_block_content page_block_content1232">
        <div class="header_logo">
            <a href="" title="新联在线" class="logo">
                <img src="/images/logo/logo.jpg" title="新联在线" />
                <span class="dep_logo">存管版</span>
            </a>
            <div class="header_logo_line"></div> 
            <div class="header_logo_text" id="header_logo_text">
                <ul>
                    <li><a href="getMessageBytypeId-101.html" target="_blank" >全球化互联网理财平台</a></li>
                    <li><a href="abouts/kingsland.html" target="_blank" >新加坡上市集团参股</a></li>
                    <li><a href="zt/newunionCZBank.html" target="_blank" >浙商银行资金存管</a></li>
                </ul>
                <a class="abtn aleft" style="display:none;" href="javascript:;"><</a>
                <a class="abtn aright" style="display:none;" href="javascript:;">></a>
            </div>
        </div> 
        <div class="header_main_nav" id="header_main_nav"> 
            <ul class="menu" id="menu"> 
                <li class="list_item"><a href="">首页</a></li> 
                <li class="list_item "><a href="financeNUPlan.html">我要理财</a>
                    <ul> 
                        <li>
                            <a href="zt/nuWalletActivity.html">NU钱包</a>
                            <a href="financeNUPlan.html">NU计划</a>
                            <a href="finance.html">理财列表</a>
                            <a href="borrow.html">产品分类</a>
                        </li> 
                    </ul>
                </li> 
                <li class="list_item"><a href="security/safe.html">安全保障</a>
                    <ul> 
                        <li>
                            <a href="security/fengkong.html">风控24式</a>
                            <a href="security/dawnPlan.html">曙光计划</a>
                            <a href="security/cpic.html">账户安全险</a>
                            <a href="security/newunionCZBank.html">资金存管</a>
                            <a href="security/laws.html">法律保障</a>
                        </li> 
                    </ul>
                </li> 
                <li class="list_item" ><a rel="nofollow" href="home.html">我的账户</a></li> 
                <li class="list_item"><a href="abouts/about.html">关于我们</a> 
                    <ul> 
                        <li>
                            <a href="abouts/kingsland.html">资方介绍</a>
                            <a href="abouts/team.html">团队介绍</a>
                            <a href="copartner/copartner.html">合作伙伴</a>
                            <a href="initNews.html">新闻中心</a>
                            <a href="abouts/contact.html">联系我们</a>
                        </li> 
                    </ul>
                </li> 
            </ul> 
            <div class="focus"></div>
        </div> 
   </div> 
</div> 
