<%@ page language="java" import="java.util.*" pageEncoding="UTF-8"%>
<%@include file="/include/taglib.jsp" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<jsp:include page="/include/head.jsp"></jsp:include>
<style>
table,
table td,
table th {
    border: 1px solid #eeee;
}
table th {
    padding: 0px 10px;
    text-align: center;
}
table td {
    padding: 5px 10px;
    text-align: center;
}
</style>
</head>
<body>
<s:set value="8" name="about_nav" />
<jsp:include page="/include/top.jsp"></jsp:include>
<div id="page_main_content" class="page_block">
    <div class="page_block_content">
        <p class="user_title m_t20">费用说明</p>
        <div class="user_centent user_centent_bg" style="line-height:25px;">
            <h1 class="f_16 f_b">投资客户费用/奖励</h1>
            <table cellspacing="0" cellpadding="0" border="0" width="100%" class="user_table_list">
                <tr>
                    <td class="tb_hd  t_c f_16">VIP年费</td>
                    <td class="tb_hd t_c f_16">网络借贷信息中介服务费</td>
                    <td class="tb_hd t_c f_16">提现费</td>
                </tr>
                <tr class="f_14">
                    <td class="t_c fee_td b_hui_r_2" style="padding:0 10px;">暂时免费</td>
                    <td class="t_c fee_td b_hui_r_2">每笔利息收益的10%</td>
                    <td class="t_c fee_td">存管账户如绑定他行卡，单笔提现额度5万及以下均为1元/笔，现暂免提现费；
                        <br/>暂未开放单笔提现5万以上额度；
                        <br/>绑定浙商银行卡无需提现。 </td>
                </tr>
            </table>
            <h1 class="f_16 f_b p_t20">项目申请者费用</h1>
            <table cellspacing="0" cellpadding="0" border="0" width="100%" class="user_table_list">
                <tr>
                    <td class="tb_hd t_c f_16">账户管理费</td>
                    <td class="tb_hd t_c f_16">提现费</td>
                    <td class="tb_hd t_c f_16">逾期违约金</td>
                </tr>
                <tr class="f_14">
                    <td class="t_c fee_td b_hui_r_2">另行议定
                        <br />平台与合作机构、项目申请者共同协商
                        <br />根据具体项目议定</td>
                    <td class="t_c fee_td b_hui_r_2">免收手续费</td>
                    <td class="t_c fee_td">逾期本息*逾期天数*0.1%</td>
                </tr>
            </table>
            <div class="p_t20">
                <h1 class="f_b f_16">其他费用说明：</h1>
                <p class="lh22 p_t5 f_14 p_t10">
                    1、充值：存管账户如绑定他行卡，充值费用为2元/笔，现暂免充值费；绑定浙商银行卡无需充值。
                    <br />
                    <br /> 2、提现：
                    <br /> ①同卡进出，充值银行卡即为提现银行卡；
                    <br /> ②账户原有资金提现成功后2小时内到账（周末、节假日不受影响）；
                    <br /> ③新充值的资金需银行进行充值清算，预计1个工作日后方可提现（周末、节假日自动顺延）。
                    <br />
                    <br /> 3、逾期处理：
                    <br /> 新联在线有权将项目申请者的有关资料正式备案在“不良信用记录”，列入全国个人信用评级体系的黑名单 （“不良信用记录”数据将为银行、电信、保证公司、人才中心等有关机构提供个人不良信用信息），同时保留对项目申请者采取法律措施的权利，由此所产生的所有法律后果将由项目申请者承担。
                </p>
            </div>
        </div>
        <div class="c"></div>
    </div>
</div>
<div class="fn-clear"></div>
<jsp:include page="/include/footer.jsp"></jsp:include>
<script>
    var g_query_url = '';
    var g_query_default_index = '';
    var g_query_current_index = '';
    $(document).ready(function() {
        page_common_init();
    });
</script>
<script type="text/javascript">
    var _py = _py || [];
    _py.push(['a', 'Se..goEfVmO52wgGeMj9s1Z8EX']);
    _py.push(['domain', 'stats.ipinyou.com']);
    _py.push(['e', '']); - function(d) {
        var s = d.createElement('script'),
            e = d.body.getElementsByTagName('script')[0];
        e.parentNode.insertBefore(s, e),
            f = 'https:' == location.protocol;
        s.src = (f ? 'https' : 'http') + '://' + (f ? 'fm.ipinyou.com' : 'fm.p0y.cn') + '/j/adv.js';
    }(document);
    </script>
    <noscript><img src="//stats.ipinyou.com/adv.gif?a=Se..goEfVmO52wgGeMj9s1Z8EX&amp;e=" style="display:none;" /></noscript>
    <script type="text/javascript">
    $(document).ready(function() {
        init_left_nav();
    });
</script>
<script>
    $('#goToTop').click(function() {
        $('html,body').animate({
            scrollTop: '0px'
        }, 800);
    });
    (new GoTop()).init({
        pageWidth: 980,
        nodeId: 'go-top',
        nodeWidth: 50,
        distanceToBottom: 0,
        hideRegionHeight: 0,
        text: ''
    });
</script>
</body>
</html>
